{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "fungap",
    "description": "mbti"
  },
  "host": "nyannyan.shop",
  "basePath": "/",
  "tags": [
    {
      "name": "User",
      "description": ""
    },
    {
      "name": "Board",
      "description": ""
    },
    {
      "name": "Game",
      "description": ""
    },
    {
      "name": "Comment",
      "description": ""
    },
    {
      "name": "Chat",
      "description": ""
    },
    {
      "name": "Mypage",
      "description": ""
    },
    {
      "name": "Admin",
      "description": ""
    }
  ],
  "schemes": ["http", "https"],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Bearer <Token> 을 입력해주세요."
    }
  },
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "\r/board": {
      "get": {
        "tags": ["Board"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },

    "/user/signup": {
      "post": {
        "tags": ["User"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "user_mbti": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                },
                "confirm_password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/email_check": {
      "post": {
        "tags": ["User"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/user/nickname_check": {
      "post": {
        "tags": ["User"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/user/signin": {
      "post": {
        "tags": ["User"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/signin/kakao": {
      "post": {
        "tags": ["User"],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/user/signin/google": {
      "post": {
        "tags": ["User"],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/user/signin/naver": {
      "post": {
        "tags": ["User"],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/auth/email": {
      "post": {
        "tags": ["User"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/auth/password": {
      "patch": {
        "tags": ["User"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/mypage/": {
      "get": {
        "tags": ["Mypage"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/mypage\r/edit": {
      "patch": {
        "tags": ["Mypage"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "example": "any"
                },
                "user_image": {
                  "example": "any"
                },
                "user_mbti": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/mypage/delete": {
      "delete": {
        "tags": ["Mypage"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/mypage/liked": {
      "get": {
        "tags": ["Mypage"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/mypage/mygame": {
      "get": {
        "tags": ["Mypage"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin\r/board": {
      "get": {
        "tags": ["Admin"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/admin\r/board/write": {
      "post": {
        "tags": ["Admin"],
        "description": "",
        "parameters": [],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/admin\r/board/{board_id}/edit": {
      "patch": {
        "tags": ["Admin"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/admin\r/board/{board_id}/delete": {
      "delete": {
        "tags": ["Admin"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/admin\r/board/{board_id}/detail": {
      "get": {
        "tags": ["Admin"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },

    "/games/": {
      "get": {
        "tags": ["Game"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/games/view": {
      "get": {
        "tags": ["Game"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/games/popularity": {
      "get": {
        "tags": ["Game"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/games/{game_id}": {
      "get": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "game_quest": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/games\r/{game_id}/comment": {
      "get": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/games/write": {
      "post": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "game_title": {
                  "example": "any"
                },
                "game_desc": {
                  "example": "any"
                },
                "game_quest1": {
                  "example": "any"
                },
                "game_quest2": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/games/{game_id}/edit": {
      "patch": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "game_title": {
                  "example": "any"
                },
                "game_desc": {
                  "example": "any"
                },
                "game_quest1": {
                  "example": "any"
                },
                "game_quest2": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/games\r/{game_id}/delete": {
      "delete": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/games/{game_id}/like": {
      "post": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/games\r/{game_id}/comment/{game_comment_id}": {
      "patch": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "game_comment_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "tags": ["Game"],
        "description": "",
        "parameters": [
          {
            "name": "game_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "game_comment_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/board/home": {
      "get": {
        "tags": ["Board"],
        "description": "",
        "parameters": [],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/board/": {
      "get": {
        "tags": ["Board"],
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/board\r/popularity": {
      "get": {
        "tags": ["Board"],
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/board/view": {
      "get": {
        "tags": ["Board"],
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/board/{board_id}": {
      "get": {
        "tags": ["Board"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/board/{board_id}/like": {
      "post": {
        "tags": ["Board"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/board/search": {
      "post": {
        "tags": ["Board"],
        "description": "",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/comment/{board_id}": {
      "get": {
        "tags": ["Comment"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": ["Comment"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/comment\r/{board_id}/{comment_id}": {
      "delete": {
        "tags": ["Comment"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "patch": {
        "tags": ["Comment"],
        "description": "",
        "parameters": [
          {
            "name": "board_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },

    "/chat/chatlog": {
      "get": {
        "tags": ["Chat"],
        "description": "",
        "parameters": [
          {
            "name": "roomname",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/allcontent/": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "definitions": {}
}
